    <section class="cta-section" data-aos="fade-up">
      <div class="container">
        <h2 class="cta-title">{{ content.field_banner_title }}</h2>
        <div class="cta-subtitle">
          {{ content.field_banner_description }}
        </div>
        <div class="d-flex flex-wrap justify-content-center gap-3">
        <a href="{{ link_url_1 }}">
          <button class="btn btn-light">{{ link_title_1 }}</button>
        </a>
        <a href="{{ link_url_2 }}">
          <button class="btn btn-outline-light">{{ link_title_2 }}</button>
        </a>
        </div>
      </div>
    </section>