{% if content.field_banner_image %}
  <img class="hero-img-bg" src="{{ file_url(content.field_banner_image['#items'].entity.uri.value) }}" alt="Banner image" />
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <div class="hero-content animate-fade-up pe-3" data-aos="fade-up">
        {% if paragraph.field_banner_title %}
          <h1 class="hero-title">{{ paragraph.field_banner_title.value }}</h1>
        {% endif %}

        {% if paragraph.field_banner_note %}
          <p class="hero-subtitle">{{ paragraph.field_banner_note.value|raw }} </p>
        {% endif %}

        {% set link = paragraph.field_cta_button %}
        {% if link %}
          <div class="d-flex flex-wrap gap-3 mb-4">
            <a href="{{ link.url.toString() }}" class="btn btn-primary">
              {{ link.title }}
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
