<!DOCTYPE html>
<html lang="{{ language.getId }}">
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>
  <body{{ attributes.addClass(body_classes) }}>

    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>

    {# Include Header Navigation #}
    {% include "@stitchlyn_theme/layout/header.html.twig" %}

    {# Page Banner or Custom Section (optional) #}
    {% if page.highlighted %}
      <div class="highlighted">{{ page.highlighted }}</div>
    {% endif %}

    <main id="main-content" role="main">
        {% if messages %}
          <div class="messages">{{ messages }}</div>
        {% endif %}
        {{ page.content }}
    </main>

    {% include "@stitchlyn_theme/layout/footer.html.twig" %}

    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>