<div class="unit-manager-form-wrapper">
  <h2>Add Unit Manager</h2>
  <div class="form-container">
    {{ form.email }}
    {{ form.password }}
    {{ form.field_name }}
    {{ form.field_phone_number }}
    {{ form.field_unit }}
    {{ form.submit }}
  </div>
</div>
