<div class="unit-manager-edit-form">
  <h2>Edit Unit Manager</h2>

  <div class="form-fields">
    {{ form.name }}
    {{ form.phone }}
    {{ form.unit }}
  </div>

  <div class="form-actions">
    {{ form.actions }}
  </div>

  {{ form#after }}
</div>
