<div class="inventory-item-form-wrapper">
  <h2>Add Inventory Item</h2>

  {{ form.field_sku_code }}
  {{ form.field_category }}
  {{ form.field_inventory_type }}
  {{ form.field_unit_of_measure }}
  {{ form.field_cost_price }}
  {{ form.field_opening_stock }}
  {{ form.field_reorder_level }}
  {{ form.body }}

  {{ form.actions }}
</div>