<div class="vendor-edit-form-wrapper">
  <h1>Edit Vendor</h1>

  <div class="form-section">
    {{ form.name }}
    {{ form.email }}
    {{ form.field_vendor_phone }}
    {{ form.field_vendor_company }}
  </div>

  <div class="form-actions">
    {{ form.actions }}
  </div>

  {{ form#after }}
</div>