<div class="vendor-add-form-wrapper">
  <h2>Add Vendor</h2>
  <div class="form-wrapper">
    {{ form.email }}
    {{ form.password }}
    {{ form.field_vendor_name }}
    {{ form.field_contact_person }}
    {{ form.field_phone_number }}
    {{ form.field_billing_address }}
    {{ form.field_gst_number }}
    {{ form.field_status }}
    {{ form.submit }}
  </div>
</div>
